@use "variables" as *;

.add-todo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.25rem;

  // Input feltet
  input[type="text"] {
    padding: 0.75rem;
    border-radius: 16px;
    font-size: 1rem;
    border: 1px solid #d1d5db;
    background-color: $clr-card;
    outline: none;
    box-shadow: none;
    transition: outline 0.2s ease;

    &::placeholder {
      color: $clr-text-mutted;
    }

    &:focus {
      outline: 2px solid black !important;
      box-shadow: none !important;
    }
  }

  // Knap
  button {
    border-radius: 16px;
    cursor: pointer;
    font-size: 1rem;
    background-color: $clr-accent;
    color: $clr-text-primary;
    border: 1px solid #d1d5db;
    outline: none;

    &:focus {
      outline: 2px solid black !important;
      box-shadow: none !important;
    }
  }
}
