@use "variables" as *;

.add-todo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.25rem;

  input[type="text"] {
    padding: 0.75rem;
    border-radius: 16px;
    font-size: 1rem;
    border: 1px solid #d1d5db;
    background-color: $clr-card;
  }

  input[type="text"]::placeholder {
    color: $clr-text-mutted;
  }

  input:focus {
    outline: 2px solid black;
    outline-offset: 2px;
  }

  button {
    border-radius: 16px;
    cursor: pointer;
    font-size: 1rem;
    background-color: $clr-accent;
    color: $clr-text-primary;
    border: 1px solid #d1d5db;
  }
}
