@use "variables" as *;

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 6px #d1d5db;
  background-color: $clr-card;
  border-radius: 16px;
  margin-top: 1rem;

  label {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }

  input {
    cursor: pointer;
  }

  input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: $clr-text-mutted;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $clr-danger;
  }

  button:hover {
    color: darken($clr-danger, 10%);
  }
}
